# **Initial EDA (Exploratory Data Analysis)**

The purpose of this notebook will be to clean and refine the data provided from NYC Open Data to a database (.csv) so future modeling notebooks will run smooth. The main goal here is to delete any duplicate infromation and convert data types to those of useable one in modeling stages.<br>

After the cleaning a general overview of the data will be taken to build initial insites about the data and discover any trends or relationships that may be prsent.

In [7]:
#Initializing Libraries
import pandas as pd

In [8]:
#Initial Import
'''
If following along this is where you will need to update the file path below. As you can see here I have a seperate folder that is holding all my databases outside of this repository.
'''
df = pd.read_csv(r"C:\Users\cmphi\Documents\BrainStation\DataBases\NYPD_Calls_for_Service__Year_to_Date__20240520.csv")

## **Data Cleaning:**

In [9]:
#Fist look at the data
display(df.info(verbose=True, show_counts=True))
display(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1805313 entries, 0 to 1805312
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   CAD_EVNT_ID    1805313 non-null  int64
 1   CREATE_DATE    1805313 non-null  object
 2   INCIDENT_DATE  1805313 non-null  object
 3   INCIDENT_TIME  358031 non-null   object
 4   NYPD_PCT_CD    1805313 non-null  int64
 5   BORO_NM        1805313 non-null  object
 6   PATRL_BORO_NM  1805313 non-null  object
 7   GEO_CD_X       1805313 non-null  int64
 8   GEO_CD_Y       1805313 non-null  int64
 9   RADIO_CODE     1805313 non-null  object
 10  TYP_DESC       1805313 non-null  object
 11  CIP_JOBS       1805313 non-null  object
 12  ADD_TS         1805313 non-null  object
 13  DISP_TS        1805313 non-null  object
 14  ARRIVD_TS      1466133 non-null  object
 15  CLOSNG_TS      1805313 non-null  object
 16  Latitude       1805313 non-null  float64
 17  Longitude      1805313 non-null  float64
dtypes: float64(2), int64(4), object(12)
memory usage: 247.9+ MB

None

,CAD_EVNT_ID,CREATE_DATE,INCIDENT_DATE,INCIDENT_TIME,NYPD_PCT_CD,BORO_NM,PATRL_BORO_NM,GEO_CD_X,GEO_CD_Y,RADIO_CODE,TYP_DESC,CIP_JOBS,ADD_TS,DISP_TS,ARRIVD_TS,CLOSNG_TS,Latitude,Longitude
0,99842231,01/01/2024,12/31/2023,11/22/2038 0:00:00,45,BRONX,PATROL BORO BRONX,1031438,249344,52D6,DISPUTE: FAMILY,Non CIP,01/01/2024 12:02:04 AM,01/01/2024 12:02:04 AM,NaN,01/01/2024 12:13:01 AM,40.850949,-73.829434
1,99842388,01/01/2024,12/31/2023,NaN,110,QUEENS,PATROL BORO QUEENS NORTH,1022087,208229,52D6,DISPUTE: FAMILY,Non CIP,01/01/2024 12:09:59 AM,01/01/2024 12:11:05 AM,NaN,01/01/2024 12:57:28 AM,40.738144,-73.863466
2,99842587,01/01/2024,12/31/2023,NaN,108,QUEENS,PATROL BORO QUEENS NORTH,1007298,209993,53S,VEHICLE ACCIDENT: SPECIAL CONDITION,Non CIP,01/01/2024 12:01:21 AM,01/01/2024 12:02:19 AM,01/01/2024 01:19:58 AM,01/01/2024 01:20:02 AM,40.743037,-73.916826
3,99843964,01/01/2024,12/31/2023,NaN,114,QUEENS,PATROL BORO QUEENS NORTH,1002279,222019,34K1,ASSAULT (IN PROGRESS): KNIFE/INSIDE,Critical,01/01/2024 12:06:11 AM,01/01/2024 12:07:19 AM,01/01/2024 12:19:27 AM,01/01/2024 01:03:22 AM,40.776057,-73.934906
4,99844026,01/01/2024,12/31/2023,NaN,66,BROOKLYN,PATROL BORO BKLYN SOUTH,987908,174328,11C4,ALARMS: COMMERCIAL/BURGLARY,Non CIP,01/01/2024 12:04:38 AM,01/01/2024 01:45:33 AM,NaN,01/01/2024 02:23:34 AM,40.645174,-73.986820
5,99844029,01/01/2024,12/31/2023,NaN,14,MANHATTAN,PATROL BORO MAN SOUTH,987695,213174,11C4,ALARMS: COMMERCIAL/BURGLARY,Non CIP,01/01/2024 12:04:46 AM,01/01/2024 01:02:54 AM,NaN,01/01/2024 06:23:07 AM,40.751797,-73.987568
6,99844057,01/01/2024,12/31/2023,NaN,49,BRONX,PATROL BORO BRONX,1020929,254201,11C4,ALARMS: COMMERCIAL/BURGLARY,Non CIP,01/01/2024 12:04:51 AM,01/01/2024 12:09:21 AM,01/01/2024 12:15:11 AM,01/01/2024 12:56:56 AM,40.864330,-73.867393
7,99844060,01/01/2024,12/31/2023,NaN,34,MANHATTAN,PATROL BORO MAN NORTH,1003734,253432,11C4,ALARMS: COMMERCIAL/BURGLARY,Non CIP,01/01/2024 12:04:57 AM,01/01/2024 12:12:08 AM,01/01/2024 12:29:16 AM,01/01/2024 12:29:53 AM,40.862274,-73.929562
8,99844063,01/01/2024,01/01/2024,NaN,79,BROOKLYN,PATROL BORO BKLYN NORTH,998219,187289,75S,STATION INSPECTION BY TRANSIT BUREAU PERSONNEL,Non CIP,01/01/2024 12:00:07 AM,01/01/2024 12:00:07 AM,01/01/2024 12:00:07 AM,01/01/2024 12:30:23 AM,40.680739,-73.949637
9,99844065,01/01/2024,01/01/2024,NaN,19,MANHATTAN,PATROL BORO MAN NORTH,992074,217827,53D,VEHICLE ACCIDENT: DISPUTE,Non CIP,01/01/2024 12:00:14 AM,01/01/2024 12:08:24 AM,01/01/2024 12:36:32 AM,01/01/2024 12:48:57 AM,40.764566,-73.971757

The main insite from the above is again, this is a very clean dat set to be working with. Main things I notice is the incident time is missing quite a lot of values and the some of the values inputed don't make sense (11/22/2038). This column is also represnted in `ADD_TS` and `ARRIVD_TS`. I will be dropping this column.<br><br>
I am also seeing duplicated column in `GEO_CD_X` and `GEO_CD_Y` and `Latitude` `Longitude`, I won't be needing both for this analysis so I will also drop the `GEO_CD` columns.<br><br>
Next, I looked at the `CREATE_DATE` column. This represent when the incident was inputed into the system. This is back end data entry by the operators and not reflective of the incident itself, Another column I will drop.

In [10]:
#dropping columns named above
df.drop(columns=['INCIDENT_TIME','GEO_CD_X','GEO_CD_Y','CREATE_DATE'], inplace=True, axis=1)

In [11]:
#peaking at data after drop
display(df.info(show_counts=True))
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1805313 entries, 0 to 1805312
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   CAD_EVNT_ID    1805313 non-null  int64
 1   INCIDENT_DATE  1805313 non-null  object
 2   NYPD_PCT_CD    1805313 non-null  int64
 3   BORO_NM        1805313 non-null  object
 4   PATRL_BORO_NM  1805313 non-null  object
 5   RADIO_CODE     1805313 non-null  object
 6   TYP_DESC       1805313 non-null  object
 7   CIP_JOBS       1805313 non-null  object
 8   ADD_TS         1805313 non-null  object
 9   DISP_TS        1805313 non-null  object
 10  ARRIVD_TS      1466133 non-null  object
 11  CLOSNG_TS      1805313 non-null  object
 12  Latitude       1805313 non-null  float64
 13  Longitude      1805313 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 192.8+ MB

None

,CAD_EVNT_ID,INCIDENT_DATE,NYPD_PCT_CD,BORO_NM,PATRL_BORO_NM,RADIO_CODE,TYP_DESC,CIP_JOBS,ADD_TS,DISP_TS,ARRIVD_TS,CLOSNG_TS,Latitude,Longitude
0,99842231,12/31/2023,45,BRONX,PATROL BORO BRONX,52D6,DISPUTE: FAMILY,Non CIP,01/01/2024 12:02:04 AM,01/01/2024 12:02:04 AM,NaN,01/01/2024 12:13:01 AM,40.850949,-73.829434
1,99842388,12/31/2023,110,QUEENS,PATROL BORO QUEENS NORTH,52D6,DISPUTE: FAMILY,Non CIP,01/01/2024 12:09:59 AM,01/01/2024 12:11:05 AM,NaN,01/01/2024 12:57:28 AM,40.738144,-73.863466
2,99842587,12/31/2023,108,QUEENS,PATROL BORO QUEENS NORTH,53S,VEHICLE ACCIDENT: SPECIAL CONDITION,Non CIP,01/01/2024 12:01:21 AM,01/01/2024 12:02:19 AM,01/01/2024 01:19:58 AM,01/01/2024 01:20:02 AM,40.743037,-73.916826
3,99843964,12/31/2023,114,QUEENS,PATROL BORO QUEENS NORTH,34K1,ASSAULT (IN PROGRESS): KNIFE/INSIDE,Critical,01/01/2024 12:06:11 AM,01/01/2024 12:07:19 AM,01/01/2024 12:19:27 AM,01/01/2024 01:03:22 AM,40.776057,-73.934906
4,99844026,12/31/2023,66,BROOKLYN,PATROL BORO BKLYN SOUTH,11C4,ALARMS: COMMERCIAL/BURGLARY,Non CIP,01/01/2024 12:04:38 AM,01/01/2024 01:45:33 AM,NaN,01/01/2024 02:23:34 AM,40.645174,-73.986820

### **Duplicate Rows:**
Now I would like to move through and remove any duplicate data within this data set. First looking at rowise duplicates then moving to redundent columns.

In [ ]:
#Checking for the number of duplicated rows
print(df.duplicated().sum())

Initially here it looks like there are no duplicate rows but we are going to dive a bit deeper and look specfically at `CAD_EVNT_ID` as this should be a unique identifier.

In [ ]:
#If we have all unique values we should see the lenght of this be the same as the lenght of the df
df['CAD_EVNT_ID'].value_counts()
dup_CAD_percent = (1 - (len(df['CAD_EVNT_ID'].value_counts())/len(df)))*100
print(f'Percent of duplication: {dup_CAD_percent}%')

Before I drop all duplicated `CAD_EVNT_ID` I want to investigate to see why the rows aren't identical but they share a event id.

In [ ]:
#displays the duplicated event ids next to one another
display(df[df.duplicated(subset=['CAD_EVNT_ID'], keep=False)])

The differences I see here are mostly do to differences in the time added to they system. I am not sure what creates this discrepency but we will keep the instance with the most data (least NaN values) then if equal in data we will keep the first instance, as the datat is already sorted by time by dropping the later instances of duplicated values we will keep the entry with the earliest logged time.

In [ ]:
#This code will keep the duplicated row with the least nan values, but in case of ties will just keep the first instance of the event id

#creating new row with null count
df['null_count'] = df.isna().sum(axis=1)

#sorting to priotizie rows with fewest nulls
df_sorted = df.sort_values(by=['CAD_EVNT_ID', 'null_count'])

df = df_sorted.drop_duplicates(subset='CAD_EVNT_ID').drop(columns='null_count').reset_index(drop=True)

In [ ]:
#Checking
df['CAD_EVNT_ID'].value_counts()
dup_CAD_percent = (1 - (len(df['CAD_EVNT_ID'].value_counts())/len(df)))*100
print(f'Percent of duplication: {dup_CAD_percent}%')
display(df[df.duplicated(subset=['CAD_EVNT_ID'], keep=False)])
display(df.info(show_counts=True))

This shows the succesful removal of all duplicated `CAD_EVNT_ID` rows. The data set is now ~3% smaller.

The next step here will be to deal with the `ARRIVD_TS`. This is now the only column with null values. My plan here will be to create one main df that has only one of the date time columns with `ADD_TS`. This will reprent the start time of the incident and for most purpose be the only datetime we need. The second df I will be keeping `DISP_TS` and `ARRIVD_TS` this is will allow me to look response times all other datetime will be dropped. I will then drop any row with null values as they will be represented in the main df.

In [ ]:
#Creating response_df
response_df = df.drop(columns=['INCIDENT_DATE', 'CLOSNG_TS'], inplace=True)
response_df = response_df.dropna(how='any',axis=0) 

#Creating main df
df.drop(columns=['INCIDENT_DATE', 'DISP_TS', 'ARRIVD_TS', 'CLOSNG_TS'], inplace=True)

display(df.info())
display(response_df.info())

### **General Data Fixing:**

Now I want to move from left to right and assure the data is presented ina way that makes sense and is more readily presentable.<br>
This will also be the best time to look at the columns as compared to one another and determine if there are redundancies that can be removed.<br><br>

1. CAD_EVNT_ID -> **int64**
    * Should be fine all ids are numerical, a mean or average of this column will mean nothing
2. INCIDENT_DATE  -> object
    * Makes more sense and will be easier to call functions as a **datetime**. All times will be set to 00 however.
3. NYPD_PCT_CD -> int64
    * Values are numerical, may want to change to **categorical**
4. BORO_NM -> object
    * Redundant with PATRL_BORO_NM, need to deside which to keep (more granular or less granular)
    * Change to **categorical**
5. PATRL_BORO_NM -> object
    * Starts all with PATROL BORO I can drop that and keep the boro then change to **categorical**
6. RADIO_CODE -> object
    * Will need to do a deeper dive to determien is the codes are better to save the relate to this [database](https://www.n2nov.net/nypdcodes.html)
    * Change to **categorical**
7. TYP_DESC -> object
    * Redundent on radio code will drop one, probably this one
8. CIP_JOBS -> object
    * Change to **categorical**
9. ADD_TS -> object
    * Change to **datetime**
10. DISP_TS -> object
    * Change to **datetime**
11. ARRIVD_TS -> object
    * Change to **datetime**
12. CLOSNG_TS -> object
    * Change to **datetime**<br>

**NOTE:**<br> Potential reudundancy in the TS columns, so intresting insights still exist but will be better when looked at as a seperated df and will only keep one datetime in main df.

13. Latitude -> **float64**
    * This will stay a float
14. Longitude -> **float64**
    * This will stay a float

In [ ]:
# Converting specified columns to datetime
datetime_columns = ['INCIDENT_DATE', 'ADD_TS', 'DISP_TS', 'ARRIVD_TS', 'CLOSNG_TS']
for col in datetime_columns:
    df[col] = pd.to_datetime(df[col])

# Converting specified columns to category
category_columns = ['NYPD_PCT_CD', 'BORO_NM', 'RADIO_CODE', 'CIP_JOBS']
for col in category_columns:
    df[col] = df[col].astype('category')

# Dropping redundant columns
df.drop(columns=['PATRL_BORO_NM', 'TYP_DESC'], inplace=True)

In [ ]:
#New look at the data
display(df.info(show_counts=True))
df.head()

## **Data Exploration:**